* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  position: relative;
}

.toolBar {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  height: 100vh;
  transition: width .5s ease-in-out, left 1s ease-in-out;
  
}

.toolBar.close {
  width: 5%;
}

.toolBar.open {
  width: 35%;
}